<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<div id="app">
<!--1.修饰符:lazy    懒加载：用到时再加载-->
<!--  像有些情况我们需要使用到v-model进行数据的双向绑定，虽然很方便但是有些情况我们
不希望更新的频率这么快，不想每输入一个数一次就更新一次，一般都是在敲完回车的时候把值给
绑定到上面，或者是在控件失去焦点的时候进行绑定，这样就不会调用的那么频繁了。-->
  <input type="text" v-model="message">
<!--而解决这个问题很简单，Vue已经帮我们写好这个方法了我们只要引用我们的修饰符就能做到-->
  <input type="text" v-model.lazy="message">
<!--  加上lazy之后，我们就可以通过敲下回车或者从控件失去焦点时进行该控件里值的绑定-->
  <h2>{{message}}</h2>

<!--  2.修饰符：number-->
<!--  如果我们希望用户在这里输入数字，虽然可以将type改成number类型的-->
  <input type="number" v-model="age" >
  <h2>{{age}}-{{typeof age}}</h2>
<!--  typeof是用来获取某个变量的类型-->
<!--  我们会发现在页面中，age一开始默认的number类型的，可当我们改变它值的时候就变成了
string类型了，这是因为我们在绑定的时候传递的值默认就是string类型的，默认情况下v-model
在给变量赋值的时候就是赋string类型的。如果我们需要得到number类型该怎么办呢？-->
  <input type="number" v-model.number="age" >
<!--  我们在后面加上修饰符就行了-->
  <br/>
<!--  3.修饰符：trim-->
<!--  当我们的字符串左右两边有很多空格的时候，我们可能想要剥除两边的空格-->
  <input type="text" v-model.trim="name">
  <h2>您输入的名字{{name}}</h2>
<!--  虽然我们在文本框中输入了很多空格，但是在浏览器展示的时候会自动剥离这些空格
这不代表这些空格就消失了，在我们数据内部中，还是会存在这些空格，只不过现在的浏览器
会自动剥离那些空格再进行显示，但在我们真实使用的时候，用户输入多余的空格我们想
把它给删掉的话，我们自然可以使用我们的trim修饰符。这也保证存储到data里的数据
也不存在多余的空格，虽然可以通过方法实现对空格的删除，但如果我们在这提前用修饰符
进行了对空格的处理可以节省我们的时间，更节省了资源-->


</div>
<script src="../js/vue.js"> </script>
<script>
  const app=new Vue({
    el:'#app',
    data:{
      message:'你好啊',
      age:18,
      name:''
    }
 })
</script>

</body>
</html>